#crd{
    margin-top: 150px;
    }
    
    .card{
    
    margin-top: 100px;
    margin-left: 10px;
    }
    
    .mydiv{
        margin-top: 100px;
        margin-left: 10px;
        /* margin-right: 100px; */
    }
    
    #wrn{
        margin-left: 665px;
    }
    #ansbox{
        padding:30px;border:2px;border-style: solid;
margin-top: 100px;
        margin-left: 10px;
        /* margin-right: 100px; */
    }
    #ansid{
        visibility: hidden;


    }
    #ansvote{
        visibility: hidden
    }