#crd{
    margin-top: 150px;
    }
    
    .card{
    
    margin-top: 100px;
    margin-left: 100px;
    }
    
    .mydiv{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    #wrn{
        margin-left: 665px;
    }
    #ansbox{
        padding:30px;border:2px;border-style: solid;
margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }