#crd{
    margin-top: 150px;
    }
    
    .card{
    
    margin-top: 100px;
    margin-left: 10px;
    }
    
    .mydiv{
        margin-top: 100px;
        margin-left: 10px;
        /* margin-right: 100px; */
    }
    