<div class="main-panel" style="padding-right:2%">
  <app-studentheader>
   
  </app-studentheader>
<div class="mydiv card" style="padding:20px;border:2px;border-style: rounded">
<u><h3 style="color:#9c27b0">TITLE:  {{class?.courseName}}</h3></u> <br>
<label style="color:#9c27b0">COURSE ID:  {{class?.courseId}}</label><br>
<label style="color:#9c27b0">Room:  {{class?.room}}</label><br>
<a (click)="details(classId)" class="btn btn-outline-primary" style="width:200px">Message Teacher</a>


</div>
  <div class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">RESOURCES</h5>
        <p class="card-text">Assignments,Reading Material and Notifications </p>
        <a (click)="ndetail(classId)" class="btn btn-primary" style="color:white">Resources</a>
      </div>
    </div>
    
    <div class="card text-center" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">DISCUSSION PANEL</h5>
        <p class="card-text">Public/Private Discussion in the course.</p>
        <a (click)="mdetail(classId)" class="btn btn-primary" style="color:white">Discussion</a>
      </div>
    </div>
    
    <div class="card text-right" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">QUIZ</h5>
        <p class="card-text">Mcqs Based Quiz.</p>
        <a (click)="qdetail(classId)" class="btn btn-primary" style="color:white">Quiz</a>
      </div>
    </div>