  <!-- Navbar -->
  <div class="main-panel">
<app-header></app-header>
  <!-- End Navbar -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-warning card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">collections_bookmark</i>
                          </div>
                          <p class="card-category">Classes</p>
                          <h3 class="card-title" *ngIf="Classes">{{Classes}}
                              
                          </h3>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons text-danger">warning</i>
                              <a routerLink="/dashboard/classes">Generate more...</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-success card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">library_books</i>
                              <!-- <i class="fa fa-user-md"></i> -->

                          </div>
                          <p class="card-category">Quizes</p>
                          <h3 class="card-title" *ngIf="quizzes">{{quizzes}}</h3>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">date_range</i> Last 24 Hours
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                                <i class="material-icons">books</i>
                            </div>
                          <p class="card-category">Assignments</p>
                          <h3 class="card-title" *ngIf="assignment">{{assignment}}</h3>
                      </div>
                      <div class="card-footer">
                          <div class="stats">
                              <i class="material-icons">update</i> Just Updated
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

     
       <!-- READ QUESTIONS -->
       <div class="col-md-12">
        <div class="container" id="multiCollapseExample1">
         
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title text-center ">MESSAGES PANEL               
                          <!-- <div class="pull-right btn btn-warning" data-toggle="modal" role="dialog" data-target="#addAssignmentModal" data-backdrop="static" date-keyboard="false" data-focus="true" #tref><i class="fa fa-plus" aria-hidden="true"></i> ASK QUESTION</div> -->
                      </h4>
                      <p class="card-category"> Student Messages </p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                        
    
                        
                        <table class="table"> 
                            <thead class=" text-primary">
                                <th (click)="orderBy('note')">
                                    Student Name
                                    <i *ngIf="order == 'note'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                                </th>
                                
                                <th (click)="orderBy('note')">
                                  Message
                                  <i *ngIf="order == 'note'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                                </th>
                                <th>
                                  Time
                                </th>
                                <th>
                                    Class Name
                                  </th>
                                  <th>
                                    Actions
                                  </th>
                               
    
                            </thead>
                            <tbody *ngIf="messahe">
                                <tr *ngFor="let x of messahe" >
                                    <td class="small" *ngIf="x?.data.date==this.fd" >
                                      {{x?.data.sname}}
                                    </td>
                                    <td class="small" *ngIf="x?.data.date==this.fd">
                                      {{x?.data.message}}
                                    </td>
                                    <td class="small" *ngIf="x?.data.date==this.fd">
                                      {{x?.data.startTime}}
                                    </td>
                                    <td *ngIf="x?.data.date==this.fd"> 
                                        {{x?.data.className}}
                                    </td>
                                   
                                     <td *ngIf="x?.data.date==this.fd"> 
    
                                        <!-- <span class="btn btn-sm btn-danger" (click)="selectedquestion = x" data-toggle="modal" data-target="#deleteModal" > <i class="fa fa-remove" aria-hidden="true"></i></span> 
                                        <span class="btn btn-sm btn-warning" (click)="selectedquestion = x" data-toggle="modal" data-target="#editQuestionModal" > <i class="fa fa-edit" aria-hidden="true"></i></span>  -->
                                        <span class="btn btn-sm btn-success" (click)="details(x.data.senderId)"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span> 
                                      </td>
                                </tr>
                            </tbody>
                        </table>                   </div>
                  </div>
              </div>
          </div>
    
    </div>
  </div>


</div>